/* Basic styles */
:root {
  --color-primary: #790F59;
  --color-secondary: #1e254b;
  --color-body: #455272;
  --font-family: 'Nunito Sans', sans-serif;
}
    
html {
  font-size: 62.5%;
}
    
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
    
/* Typography */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.5rem;
}

h1, h2, h3, h4 {
  color: var(--color-secondary);
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2 {
  font-weight: 900;
}

h3, h4 {
  font-weight: 800;
}

p {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--color-body);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }
   
  h3 {
    font-size: 2.2rem;
  }
   
  h4 {
    font-size: 2rem;
  }
   
  p {
    font-size: 1.8rem;
  }
}

/* Buttons */
.btn a {
  color: #f2f2f2;
  display: block;
  text-decoration: none;
}

.btn {
  border-radius: 1.5rem;
  border: 0;
  display: block;
  margin: 2rem 0;
  padding: .5rem 2rem;
  transition: all 0.3s;
}

.btn--big {
  border-radius: 3rem;
  padding: 0;
}

.btn--big a {
  padding: 1rem 2.5rem;
}

.btn--ghost {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 4rem;
  padding: 0;
}

.btn--ghost:hover {
  background-color: var(--color-primary);
}

.btn--ghost a {
  color: var(--color-primary);
  padding: 1.5rem 8rem;
}

.btn--ghost a:hover {
  color: #f2f2f2;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: #ceb0c5;
}

.btn--primary a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }    
}

/* Lists */
.lists {
  color: var(--color-body);
}

.lists--styled {
  list-style-image: url("/images/line-style.svg");
}

.lists--inline {
  gap: 2rem;
  list-style: none;
}

.lists--check, .lists--xmark {
  list-style-type: none;
}


.lists__collate {
  margin-right: 2rem;
}

.lists--check li, .lists--xmark li {
  align-items: center;
  border-bottom: 1px solid var(--color-secondary);
  display: flex;
  padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .lists--inline {
    display: inline-flex;
  }  

  .lists__collate {
    margin-right: 3rem;
  }  
}

/* Icons */
.icons {
  height: 30px;
  width: 30px;
}

.icons--big {
  height: 80px;
  width: 80px;
}

.icon-container {
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 0 10px 2px rgba(122, 122, 122, 0.3);
  display: inline-flex;
}

.icon-container-special .fa-solid {
  width: 2rem;
  text-align: center;
}

.fa-solid, .fa-brands {
  color: var(--color-primary);
}

/* Navigation Bar */
nav {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  justify-content: space-between;
  width: 100%;
}

nav .logo {
  height: 8rem;
  position: relative;
  z-index: 2;
}

nav .lists--inline {
  background: var(--color-primary);
  height: 100vh;
  left: -100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 60px;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1;
}

nav .lists--inline li a {
  border-radius: 30px;
  color: #f2f2f2;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: -100%;
  padding: 8px 0;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav .menu-btn .menu-icon {
  color: var(--color-primary);
  cursor: pointer;
  font-size: 22px;
  margin-top: -10px;
  padding: 10px 30px;
}

input[type="checkbox"] {
  display: none;
}

nav .menu-btn .menu-icon {
  display: block;
}

#click:checked ~ .menu-btn .menu-icon:before {
  content: "\f00d";
}

#click:checked ~ .lists--inline {
  left: 0;
}

.lock-scroll {
  overflow: hidden;
}

nav .lists--inline li {
  margin: 40px 0;
  width: 100%;
}

#click:checked ~ .lists--inline li a {
  margin-left: 0px;
}

nav .lists--inline li a:active,
nav .lists--inline li a:hover {
  color: #ceb0c5;
}

nav .lists--inline .btn {
  background-color: #f2f2f2;
  color: var(--color-primary);
  margin: auto;
  padding: 1rem 5rem;
  width: fit-content;
}

nav .lists--inline .btn:hover {
  background-color: #ceb0c5;
  color: white;
}

@media screen and (min-width: 1024px) {
  nav {
    flex-wrap: nowrap;
  }

  nav .menu-btn .menu-icon {
    display: none;
  }

  nav .lists--inline {
    background: none;
    height: fit-content;
    position: static;
    top: 0;
    transition: none;
    white-space: nowrap;
    width: fit-content;
  }

  nav .lists--inline li {
    margin: -7px 0 0;
  }

  nav .lists--inline li a {
    color: var(--color-secondary);
    display: block;
    font-size: 15px;
    margin: 0 1.5rem;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  nav .lists--inline li a:active,
  nav .lists--inline li a:hover {
    color: var(--color-primary);
  }

  nav .lists--inline .btn {
    background-color: var(--color-primary);
    color: #f2f2f2;
    margin: 0.3rem 2rem 0 0;
    padding: 0.5rem 2rem;
    white-space: nowrap;
  }
}

/* Grid and Flexbox */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 100%;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }

  .column {
    flex: 50%;
  }
}	

/* Hero Block */
.block.hero {
  margin-top: -1rem;
  padding: 5rem 0 0;
}

.block-hero {
  background: #f2f2f2;
}

.hero .grid {
  justify-items: center;
}

.hero .block--header {
  width: 80%;
}

.hero__heading, .hero__content {
  margin-bottom: 4rem;
  text-align: center;
}

.hero .lists--styled {
  display: table;
  margin: 0 auto;
}

.hero .btn {
  margin: 4rem auto;
  padding: 1rem auto;
}

.hero__image {
  height: 50%;
  max-width: 90vw;
}

.hero__image > img {
  border-radius: 45%;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero__image > a .icon-container {
  background-color: white;
  left: 75%;
  position: relative;
  top: -180%;
}

@media screen and (max-width: 400px) {
  .hero__image > a .icon-container {
    top: -175%;
    left: 75%;
  }
}

@media screen and (min-width: 768px) {
  .hero__heading, .hero__content {
    margin-bottom: 2rem;
    text-align: start;
  }

  .hero .lists--styled {
    margin-left: -2.5rem;
  }

  .hero .btn {
    margin: 2rem 0 4rem;
    white-space: nowrap;
  }

  .hero__image > a .icon-container {
    left: 10%;
    top: -30%;
  }
}

@media screen and (min-width: 1024px) {
  .hero .block--header {
    margin: 3rem 0 0 3.5rem;
    width: 100%;
  }
  
  .hero__image {
    max-width: 400px;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin: 2rem 0;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.expanded__svg {
  display: none;
}

.collapsible--expanded .collapsible__svg {
  display: none;
}

.collapsible--expanded .expanded__svg {
  display: block;
}

.collapsible--expanded .collapsible__content {
  margin-top: 1rem;
  max-height: 100vh;
  opacity: 1;
}

/* FAQ */
.faq {
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.faq--heading {
  margin: 0 auto;
  padding-bottom: 3rem;
  text-align: center;
  width: fit-content;
}

.faq .collapsible {
  background-color: var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto 0.5rem;
  max-width: 900px;
}

.faq .collapsible__header {
  padding: 1.5rem 3rem;
}

.faq__question {
  color: #f2f2f2;
  margin: 0;
}

.faq .collapsible__svg {
  margin: 0 0.5rem;
}

.faq__content {
  background-color: white;
  margin: 0;
  padding: 0 1.5rem;
}

.faq__text {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .faq {
    background-image: url("/images/faq-bg.webp");
    background-size: cover;
  }
  
  .faq--heading {
    padding-left: 30px;
  }

  .faq--heading, .faq .collapsible {
    margin: 0 0 0.5rem;
    max-width: 600px;
  }
}