/* Basic styles */
:root {
  --color-primary: #790F59;
  --color-secondary: #1e254b;
  --color-body: #455272;
  --font-family: 'Nunito Sans', sans-serif;
}
    
html {
  font-size: 62.5%;
}
    
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
    
/* Typography */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.5rem;
}

h1, h2, h3, h4 {
  color: var(--color-secondary);
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2 {
  font-weight: 900;
}

h3, h4 {
  font-weight: 800;
}

p {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--color-body);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }
   
  h3 {
    font-size: 2.2rem;
  }
   
  h4 {
    font-size: 2rem;
  }
   
  p {
    font-size: 1.8rem;
  }
}

/* Buttons */
.btn a {
  color: #f2f2f2;
  display: block;
  text-decoration: none;
}

.btn {
  border-radius: 1.5rem;
  border: 0;
  display: block;
  margin: 2rem 0;
  padding: .5rem 2rem;
  transition: all 0.3s;
}

.btn--big {
  border-radius: 3rem;
  padding: 0;
}

.btn--big a {
  padding: 1rem 2.5rem;
}

.btn--ghost {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 4rem;
  padding: 0;
}

.btn--ghost:hover {
  background-color: var(--color-primary);
}

.btn--ghost a {
  color: var(--color-primary);
  padding: 1.5rem 8rem;
}

.btn--ghost a:hover {
  color: #f2f2f2;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: #ceb0c5;
}

.btn--primary a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }    
}