<section class="news">
    <h2 class="news__heading">Latest News & Updates</h2>
    <div id="news--container" class="owl-carousel" title="Hover or Hold onto any news item to pause">
      <div class="card">
        <picture class="news__image">
          <source srcset="/images/car-news@1x.webp 1x, /images/car-news@2x.webp 2x" type="image/webp">
          <source srcset="/images/car-news@1x.jpg 1x, /images/car-news@2x.jpg 2x" type="image/jpg">
          <img src="images/car-news@2x.jpg" alt="News Image">
        </picture>
        <div class="news--content">
          <p>
            <span class="news__info">By Wall Street J</span>
            <span class="news__info">5,784 Likes</span>
            <span class="news__info">108 Comments</span>
          </p>
          <h4 class="news__remark">Big Companies Today Adopting CIO's New Intellisense</h4>
          <p class="news__details">"Hermes, Tesla and a few other companies officially enables new crypto strategy for the purchase and payment of it's goods, cars and items. This is said to be a more User-Friendly approach for sales."</p>
        </div>
      </div>
      <div class="card">
        <picture class="news__image">
          <source srcset="/images/store-news@1x.webp 1x, /images/store-news@2x.webp 2x" type="image/webp">
          <source srcset="/images/store-news@1x.jpg 1x, /images/store-news@2x.jpg 2x" type="image/jpg">
          <img src="images/store-news@2x.jpg" alt="News Image">
        </picture>
        <div class="news--content">
          <p>
            <span class="news__info">By New York Post</span>
            <span class="news__info">1,931 Likes</span>
            <span class="news__info">546 Comments</span>
          </p>
          <h4 class="news__remark">The Story of New York Store Rising Above Financial Ruins</h4>
          <p class="news__details">"This New York City store has recovered covid losses and improved it's revenue. Shop owner shares his exciting story about starting Crypto Intellisense, and the amazing outcome of the journey afterwards."</p>
        </div>
      </div>
      <div class="card">
        <picture class="news__image">
          <source srcset="/images/dortmund-news@1x.webp 1x, /images/dortmund-news@2x.webp 2x" type="image/webp">
          <source srcset="/images/dortmund-news@1x.jpg 1x, /images/dortmund-news@2x.jpg 2x" type="image/jpg">
          <img src="images/dortmund-news@2x.jpg" alt="News Image">
        </picture>
        <div class="news--content">
          <p>
            <span class="news__info">By Dortmund CEO</span>
            <span class="news__info">3,678 Likes</span>
            <span class="news__info">228 Comments</span>
          </p>
          <h4 class="news__remark">Building Our Club Finance with Crypto Intellisense</h4>
          <p class="news__details">"Our approach is collabortive and purposeful. We have reached an agreement with CIO to begin a creative project that would better the overall functioning of the club. We'll continue to grow and live for the fans."</p>
        </div>
      </div>
    </div>
    <p class="instruction">Hover or Hold onto any news item to pause.</p>
  </section>