<article class="block showcase">
  <div class="showcase__different">
    <h2 class="showcase__heading">We're different from the rest</h2>
    <p class="showcase__subtitle">
      It's not just a lie anyone told to make you visit us. Crypto Intelligence
      is really unlike any other platform on the market.
    </p>
    <div class="row">
      <div class="column showcase__body">
        <h3 class="showcase__bodyHeading">Us</h3>
        <ul class="lists lists--check">
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-check-solid.svg"
              type="image/svg+xml"
            />
            Active
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-check-solid.svg"
              type="image/svg+xml"
            />Portfolio adjustments to weather market market volatility
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-check-solid.svg"
              type="image/svg+xml"
            />Curated selection of world-class fund managers
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-check-solid.svg"
              type="image/svg+xml"
            />One very normal fee that we waive if you don't make money
          </li>
        </ul>
      </div>
      <h4 class="column showcase__bodyHeading">vs</h4>
      <div class="column showcase__body">
        <h3 class="showcase__bodyHeading">Them</h3>
        <ul class="lists lists--xmark">
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-xmark-solid.svg"
              type="image/svg+xml"
            />Passive
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-xmark-solid.svg"
              type="image/svg+xml"
            />Asset allocation doesn't change
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-xmark-solid.svg"
              type="image/svg+xml"
            />Generic ETFs you could find on your own
          </li>
          <li>
            <embed
              class="lists__collate"
              src="/images/circle-xmark-solid.svg"
              type="image/svg+xml"
            />Charge a fee regardless of your outcomes
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="showcase__structure">
    <h2 class="showcase__heading">Fee structure that's aligned with you.</h2>
    <div class="grid grid--1x2 showcase__structureBody">
      <div class="showcase-positive">
        <span class="icon-container icon-container-special">
          <span class="fa-solid fa-arrow-up-long"></span>
        </span>
        <p>IF YOUR RETURN IS POSITIVE</p>
        <h4>0.5% annual fee</h4>
      </div>
      <div class="showcase-negative">
        <span class="icon-container icon-container-special">
          <span class="fa-solid fa-arrow-down-long"></span>
        </span>
        <p>IF YOUR RETURN IS NEGATIVE</p>
        <h4>Fee is waived</h4>
      </div>
    </div>
    <button class="btn btn--ghost">
      <a href="#">Learn More</a>
    </button>
  </div>
</article>
