<section class="block block-hero hero">
  <div class="container grid grid--1x2">
    <header class="block--header">
      <h1 class="hero__heading">Modern Finance and Monetary Strategy</h1>
      <h4 class="hero__content">
        Our community is about to lead technology by creating solutions to all
        your challenges and troubles regarding finance.
      </h4>
      <ul class="lists lists--styled">
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
      </ul>
      <button class="btn btn--big btn--primary">
        <a href="#">Get access to premium content</a>
      </button>
    </header>
    <picture class="hero__image">
      <source
        type="image/webp"
        srcset="/images/hero@1x.webp 1x, /images/hero@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/hero@1x.png 1x, /images/hero@2x.png 2x"
      />
      <img src="/images/hero@2x.png" alt="" />
      <a href="https://youtu.be/6WZOxnYi4Cs" target="_blank"
        ><span class="icon-container"
          ><img src="/images/youtube.svg" alt="Youtube display link" /></span
      ></a>
    </picture>
  </div>
</section>
