<section class="faq">
  <h2 class="faq--heading">Frequently Asked Questions</h2>
  <div class="collapsible collapsible--expanded">
    <div class="collapsible__header faq__header">
      <p class="collapsible__heading faq__question">How will all of these better my finance?</p>
      <span class="icons collapsible__svg">➕</span>
      <span class="icons collapsible__svg expanded__svg">➖</span>
    </div>
    <div class="collapsible__content faq__content">
      <p class="faq__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quaerat incidunt facere amet mollitia ex qui delectus nisi dolorum libero!</p>
    </div>  
  </div>
  <div class="collapsible">
    <div class="collapsible__header faq__header">
      <p class="collapsible__heading faq__question">Can you explain the effects during the bearish market?</p>
      <span class="icons collapsible__svg">➕</span>
      <span class="icons collapsible__svg expanded__svg">➖</span>
    </div>
    <div class="collapsible__content faq__content">
      <p class="faq__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, iure explicabo? Rem ea illo tenetur, autem perferendis nisi dicta libero!</p>
    </div>
  </div>
  <div class="collapsible">
    <div class="collapsible__header faq__header">
      <p class="collapsible__heading faq__question">What is my daily withdrawal limit in a day?</p>
      <span class="icons collapsible__svg">➕</span>
      <span class="icons collapsible__svg expanded__svg">➖</span>
    </div>
    <div class="collapsible__content faq__content">
      <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nihil dicta sit porro modi a tempore sunt quas. Sapiente, qui.</p>
    </div>
  </div>
  <div class="collapsible">
    <div class="collapsible__header faq__header">
      <p class="collapsible__heading faq__question">What does the fee structure look like?</p>
      <span class="icons collapsible__svg">➕</span>
      <span class="icons collapsible__svg expanded__svg">➖</span>
    </div>
    <div class="collapsible__content faq__content">
      <p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas adipisci, tenetur dignissimos eaque magni labore beatae in non. Laborum.</p>
    </div>
  </div>
</section>