<footer class="footer">
  <div class="row footer--section">
    <div class="column footer__content">
      <div class="footer__body">
        <h3 class="footer__heading">ABOUT CIO</h3>
        <p class="footer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          reprehenderit tempora, harum aliquid optio qui asperiores
          accusantium unde expedita labore, delectus maxime praesentium
          deleniti eos?
        </p>
        <p class="footer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
          incidunt sint, vero a nemo quae iure tempore ullam amet iusto
          soluta, eius eligendi velit officia vitae fugit voluptatum
          exercitationem suscipit?
        </p>
        <button class="btn btn--big btn--primary">
          <a href="#">LEARN MORE</a>
        </button>
      </div>
    </div>
    <picture class="column footer__image">
      <source
        type="image/webp"
        srcset="/images/about_us@1x.webp 1x, /images/about_us@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/about_us@1x.jpg 1x, /images/about_us@2x.jpg 2x"
      />
      <img src="/images/about_us@2x.jpg" alt="" />
    </picture>
  </div>
  <div class="row footer--section">
    <div class="column footer__content">
      <div class="footer__body">
        <h3 class="footer__heading">HISTORY</h3>
        <p class="footer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          reprehenderit tempora, harum aliquid optio qui asperiores
          accusantium unde expedita labore, delectus maxime praesentium
          deleniti eos?
        </p>
        <p class="footer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
          incidunt sint, vero a nemo quae iure tempore ullam amet iusto
          soluta, eius eligendi velit officia vitae fugit voluptatum
          exercitationem suscipit?
        </p>
        <button class="btn btn--big btn--primary">
          <a href="#">LEARN MORE</a>
        </button>
      </div>
    </div>
    <picture class="column footer__image">
      <source
        type="image/webp"
        srcset="/images/history@1x.webp 1x, /images/history@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/history@1x.jpg 1x, /images/history@2x.jpg 2x"
      />
      <img src="/images/history@2x.jpg" alt="" />
    </picture>
  </div>
  <div class="row footer--section">
    <div class="column footer__content">
      <div class="footer__body">
        <h3 class="footer__heading">LOCATIONS</h3>
        <p class="footer__text">
          <span class="fa-solid fa-location-crosshairs"></span> 90 boulevard
          d'Alsace 69120
        </p>
        <p class="footer__text">
          <span class="fa-solid fa-location-crosshairs"></span> 23 Chemin des Bateliers 73100
        </p>
        <p class="footer__text">
          <span class="fa-solid fa-location-crosshairs"></span> 23 Chemin des Bateliers 73100
        </p>
        <p class="footer__text">
          <span class="fa-solid fa-location-crosshairs"></span> 97 rue des six frères Ruellan 95200
        </p>
        <p class="footer__text">
          <span class="fa-solid fa-location-crosshairs"></span> 55 rue de Raymond Poincaré, HQ Narbonne Languedoc-Roussillon 11100
        </p>
        <button class="btn btn--big btn--primary">
          <a href="#">LEARN MORE</a>
        </button>
      </div>
    </div>
    <picture class="column footer__image">
      <source
        type="image/webp"
        srcset="/images/locations@1x.webp 1x, /images/locations@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/locations@1x.g 1x, /images/locations@2x.png 2x"
      />
      <img src="/images/locations@2x.png" alt="" />
    </picture>
  </div>
  <div class="footer--end">
    <div class="row feedback__section">
      <div class="column footer__content">
        <h3 class="footer__heading feedback__heading">FEEDBACK</h3>
        <input id="input--text" type="text" placeholder="Enter Name">
        <input id="input--email" type="email" placeholder="Enter Email Address">
        <input id="input--tel" type="tel" placeholder="Enter Phone Number">
        <textarea id="input--textarea" row="10" cols="50" placeholder="Enter Your Enquiry"></textarea>
        <button class="btn btn--big btn--primary">
          <a href="#">SEND</a>
        </button>
      </div>
      <div class="column">
        <div class="footer__content">
          <div class="footer__body">
              <h3 class="footer__heading feedback__heading feedback__ImageHeading">SALES</h3>
            <picture class="footer__image feedback__image">
              <source
              type="image/webp"
              srcset="/images/sales@1x.webp 1x, /images/sales@2x.webp 2x"
              />
              <source
              type="image/png"
              srcset="/images/sales@1x.g 1x, /images/sales@2x.png 2x"
              />
              <img src="/images/sales@2x.png" alt="" />
            </picture>
              <h3 class="footer__heading feedback__heading feedback__ImageHeading">SUPPORT & SERVICE</h3>
            <picture class="footer__image feedback__image">
              <source
                type="image/webp"
                srcset="/images/support&service@1x.webp 1x, /images/support&service@2x.webp 2x"
              />
              <source
                type="image/png"
                srcset="/images/support&service@1x.g 1x, /images/support&service@2x.png 2x"
              />
              <img src="/images/support&service@2x.png" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <img class="logo footer__elements" src="/images/ciologo.png" alt="" />
      <embed class="icons footer__elements" src="/images/loading.svg" type="" />
    </div>
    <div class="container">
      <span class="socials fa-brands fa-facebook"></span>
      <span class="socials fa-brands fa-twitter"></span>
      <span class="socials fa-brands fa-slack"></span>
      <span class="socials fa-solid fa-envelope-circle-check"></span>
      <span class="socials fa-brands fa-linkedin"></span>
    </div>
    <p class="copyright">Copyright ©️ 2022 by Manfred Obumma</p>
  </div>
</footer>