<section class="block-marquee container">
  <div class="marquee-wrapper">
    <div class="marquee-inner">
      <span class="marquee-box">
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/forbes-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/binance-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/amazon-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/twitter-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/coinbase-com.svg"
            type="image/svg+xml"
          />
        </div>
      </span>
      <span class="marquee-box">
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/forbes-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/binance-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/amazon-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/twitter-com.svg"
            type="image/svg+xml"
          />
        </div>
        <div class="marquee-item">
          <embed
            class="icons--big"
            src="/images/coinbase-com.svg"
            type="image/svg+xml"
          />
        </div>
      </span>
    </div>
  </div>
</section>
