<section class="block container procedures">
  <h2 class="procedures--heading">Connecting Everyone to the Capital Market</h2>
  <div class="grid grid--1x3 procedures__content">
    <div class="procedures__body">
      <span class="icon-container">
        <embed class="icons" src="/images/dollar 1.svg" type="" />
      </span>
      <h4>First, Pro-Accessment</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        tempore totam. Doloribus vitae accusantium perferendis a possimus illo
        neque nemo.
      </p>
    </div>
    <div class="procedures__body">
      <span class="icon-container">
        <embed class="icons" src="/images/settings 1.svg" type="" />
      </span>
      <h4>Next, Building your Credit</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        tempore totam. Doloribus vitae accusantium perferendis a possimus illo
        neque nemo.
      </p>
    </div>
    <div class="procedures__body">
      <span class="icon-container">
        <embed class="icons" src="/images/monitor-screen 1.svg" type="" />
      </span>
      <h4>Then, Full Credit Access</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        tempore totam. Doloribus vitae accusantium perferendis a possimus illo
        neque nemo.
      </p>
    </div>
  </div>
  <button class="btn btn--big btn--primary">
    <a href="#">Start Pro-Accessibility Test</a>
  </button>
</section>
