<span class="icon-container">
  <embed class="icons" src="/images/dollar 1.svg" type="" />
</span>
<embed class="icons--big" src="/images/amazon-com.svg" type="" />
<span class="icon-container icon-container-special">
  <span class="fa-solid fa-arrow-up-long"></span>
</span>
<span class="icon-container icon-container-special">
  <span class="fa-solid fa-arrow-down-long"></span>
</span>
<span class="fa-brands fa-facebook"></span>
<span class="fa-brands fa-twitter"></span>
<span class="fa-brands fa-slack"></span>
<span class="fa-solid fa-envelope-circle-check"></span>
<span class="fa-brands fa-linkedin"></span>
