<ul class="lists lists--styled">
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ul>
<ul class="lists lists--inline">
  <li>Deposit</li>
  <li>Build Account</li>
  <li>Money Strategy</li>
  <li>All Markets</li>
  <li>Trending Assets</li>
  <li>Client Login</li>
</ul>
<ul class="lists lists--check">
  <li>
    <embed
      class="lists__collate"
      src="/images/circle-check-solid.svg"
      type="image/svg+xml"
    />
    Active
  </li>
</ul>
<ul class="lists lists--xmark">
  <li>
    <embed
      class="lists__collate"
      src="/images/circle-xmark-solid.svg"
      type="image/svg+xml"
    />
    Active
  </li>
</ul>
