<nav>
  <div>
    <img class="logo" src="/images/cio-logoname.svg" alt="" />
  </div>
  <input type="checkbox" id="click" onclick="lockScroll();" />
  <label for="click" class="menu-btn">
    <span class="fas fa-bars menu-icon"></span>
  </label>
  <ul class="lists lists--inline">
    <li><a href="#">Deposit</a></li>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Money Strategy</a></li>
    <li><a href="#">Markets</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a href="#" class="btn btn--primary">Sign up</a></li>
  </ul>
</nav>
